*{
    margin:0;
    padding:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009933;
}

.dropdown li:nth-last-child(2) , .dropdown li:last-child{
    float: right;
}

.dropdown li{
    float: left;
}

/*----Footer links----*/
.row li{
    float: left;
}


li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #f2f2f2;
    color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #009933;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f2f2f2}

ul li:hover .dropdown-content {
    display: block;
}


/* Add a color to the active/current link */
.topnav a:active {
    background-color: #000000;
    color: white;
}
