@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    /*margin: 0; */
    padding: 0;
    background-image: url("../img/oceanview.png");
    background-size: auto;
    background-position: center;
    font-family: sans-serif;
    /*padding-top: 200px;*/
}


@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #cccccc;
    }
}

/*The div where the logon form is*/
.registrationBox{
    width: 500px;
    margin-top: 10em;
    background-color:#F8F8F8;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 15px;
    /*Center in horizontally and vertically*/
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -70%);
    box-sizing: border-box;
}


.avatar{
    width:100px;
    height:100px;

    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: 40%;
}

#registrationForm{
    color: #009933;
}

/*Login form heading*/
.heading{
    font-family: Verdana;
    font-size: 22px;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

/*The links**/
a.linksBelow{
    color: #009933;
    text-decoration: none;
}

a.linksBelow:hover{
    color: yellow;
}

#link{
    text-align: center;
}

#registrationForm input, label{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#registrationForm label{
    font-weight: bold;
}

#registrationForm input{
    width: 98%;
    margin-bottom: 10px;
}

.registrationBox input[type="password"], input[type="text"], input[type="email"]
{
    border-bottom: 1px;
    background: transparent;
    height: 30px;
    font-size: 16px;
}


.registrationBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: #009933;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.registrationBox input[type="submit"]:hover{
    cursor: pointer;
    background: yellow;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
}

.search-text{
    margin-top:1000px;
    background-color: #272d33;
    padding-top:60px;
    padding-bottom:60px;
}

.search-text .input-search{
    height:45px;
    width:40%;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
    background-color: #33383c;
    padding:30px 0px;
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding:10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}


/*--------------------Password Box Styling-------------------------------------*/

/*The div where the logon form is*/
.loginBox{
    width: 500px;
    background-color:#F8F8F8;

    padding-left: 20px;
    padding-right: 20px;
    /*Center in horizontally and vertically*/
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -70%);
    box-sizing: border-box;
}


#loginForm{
    color: #009933;
}


/*The links**/
a.linksBelow{
    color: #009933; 
   text-decoration: none;
}

a.linksBelow:hover{
    color: yellow;
}

#link{
    text-align: center;
}

#loginForm input, label{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
#loginForm label{
    font-weight: bold;
}

#loginForm input{
    width: 98%;
    margin-bottom: 10px;
}

.loginBox input[type="password"], input[type="text"]
{
    border-bottom: 1px;
    background: transparent;
    height: 30px;
    font-size: 16px;
}


.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: #009933;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: yellow;
    color: black;
}
